/*CSS Body*/

#wrapper
{
	width: 960px;
	height: auto;
	margin: 0px auto;
}

/*.................................header.......................................*/
#header a
{
	text-decoration: none;
	font-size: 10pt;
}

.login
{
	font-family: verdana;
	font-size: 10pt;
	float: right;
	margin: 20px 0px 0px 0px;
	padding: 10px;
}

/*....................................navgation.........................................*/
#navigasi{
	float: left;
	width: inherit;
	height: 32px;
	background-color: #000000;
}

ul#nav
{
	margin:0px auto;
	position:relative;
	float:left;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

ul#nav li
{
	display:inline;
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:left;
	position:relative;
	border-top:1px solid #000;
	border-bottom:2px solid #000;
}

ul#nav li a
{
	padding:6px 25px;
	color:#d1d1d1;
	text-decoration:none;
	display:inline-block;
	border-right:1px solid #000;
	border-left:1px solid #000;
	border-top:1px solid #000;
	background: #000000;
	
	-webkit-transition:color 0.2s linear, background 0.2s linear;	
	-moz-transition:color 0.2s linear, background 0.2s linear;	
	-o-transition:color 0.2s linear, background 0.2s linear;	
	transition:color 0.2s linear, background 0.2s linear;	
}

ul#nav li a:hover {
	background:#f8f8f8;
	color:#282828;
}

ul#nav li:hover > a {
	background:#fff;
}

/*..............................................Drop-Down nav.................................... */
ul#nav li:hover > ul
{
	visibility:visible;
	opacity:1;
}

ul#nav ul, ul#nav ul li ul {
	list-style: none;
    margin: 0;
    padding: 0;    
	visibility:hidden;
    position: absolute;
    z-index: 99999;
	width:180px;
	background:#ffffff;
	box-shadow:1px 1px 3px #ccc;
	opacity:0;
	-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
	transition:opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#nav ul {
    top: 30px;
    left: 1px;
}

ul#nav ul li ul {
    top: 0;
    left: 181px;
}

ul#nav ul li {
	clear:both;
	width:100%;
	border:0 none;
	border-bottom:1px solid #ffffff;
}

ul#nav ul li a {
	background:none;
	padding:7px 15px;
	color:#616161;
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:left;
	clear:both;
	width:150px;
}

ul#nav li a:hover {
	background:#f8f8f8;
	color:#282828;
}

ul#nav li:hover > a {
	background:#f6f6f6;
}

ul#nav li a.first {
	border-left: 0 none;
}

ul#nav li a.last {
	border-right: 0 none;
}

/*................................................nav cart....................................*/
#nav_cart
{
	width: 280px;
}

ul#nav_cart
{
	margin:0px 30px 0px 0px;
	position:relative;
	float:right;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

ul#nav_cart li
{
	font-family: verdana;
	display:inline;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:right;
	position:relative;
	border-top:1px solid #000;
	border-bottom:2px solid #000;
}

ul#nav_cart li a
{
	padding: 1px 7px;
	color:#d1d1d1;
	text-decoration:none;
	display:inline-block;
	background: #ffffff;
	
	-webkit-transition:color 0.2s linear, background 0.2s linear;	
	-moz-transition:color 0.2s linear, background 0.2s linear;	
	-o-transition:color 0.2s linear, background 0.2s linear;	
	transition:color 0.2s linear, background 0.2s linear;	
}

/*.......................................cart drop down nav.....................................*/

ul#nav_cart li:hover > ul
{
	visibility:visible;
	opacity:1;
}

ul#nav_cart ul, ul#nav_cart ul li ul {
	list-style: none;
    margin: 0;
    padding: 0;    
	visibility:hidden;
    position: absolute;
    z-index: 99999;
	width:85px;
	background:#ffffff;
	box-shadow:1px 1px 3px #ccc;
	opacity:0;
	-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
	transition:opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#nav_cart ul {
    top: 30px;
    right: 1px;
}

ul#nav_cart ul li ul {
    top: 0;
    right: 181px;
}

ul#nav_cart ul li {
	clear:both;
	width:100%;
	border:0 none;
	border-bottom:1px solid #ffffff;
}

ul#nav_cart ul li a {
	background:none;
	padding:7px 15px;
	color:#616161;
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:right;
	clear:both;
	width:150px;
}

ul#nav_cart li a:hover {
	background:#f8f8f8;
	color:#282828;
}

ul#nav_cart li:hover > a {
	background:#f6f6f6;
}

/*..........................................TOP SEARCH..........................................*/

.button_search
{
	margin: 3px auto;
	width: 22px;
	height: 20px;
	background-image: url("images/search.gif");
}

/*.........................................Simple Slideshow....................................*/

#slideshow {
    position:relative;
    height:370px;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    height: 370px;
    background-color: #FFF;
}

#slideshow DIV.show {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-show {
    z-index:9;
}

#slideshow DIV IMG {
    height: 370px;
    display: block;
    border: 0;
    margin-bottom: 10px;
}

/*..........................................Content.......................................*/
#container{
	height: 720px;
	background-color: #d6d6d6;
}

#container h1{
	color: #333333;
	font-size: 22px;
}

#container_football{
	height: 500px;
	background-color: #d6d6d6;
}

#container_football h1{
	color: #333333;
	font-size: 22px;
}

.heading{
	clear: both;
	height: 25px;
	margin: 10px 0px 5px 5px;
	padding: 0 10px;
	width: 950px;
}

#banner{
	margin: 0px 0px 0px 5px;
}

#banner .grid_7 a:hover{
	box-shadow: 2px 2px 3px 3px #888888;
}

.grid_15 a:hover{
	box-shadow: 2px 2px 3px 3px #888888;
}

#bannerwrapper{
	background-color: #ffffff;
	margin-right: 5px;
}

.signatureright{
	color: #000000;
	font-size: 26px;
	font-weight: bold;
	float: right;
	height: 200px;
	width: 170px;
	padding: 0px 3px 0px 0px;
	margin: 0px 3px 0px 0px;
}

.action{
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
}

.adilogo{
	background: url("images/55-logo-sprite.gif");
	display: block;
	height: 55px;
	width: 55px;
}

/*.........................................footer............................................*/

#footer{
	background-color: #ffffff;
}

ul#nav_footer{
	margin:0px auto;
	position:relative;
	float:right;
}

ul#nav_footer li{
	display:inline;
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:left;
	position:relative;
	padding:6px 25px;
}

ul#nav_footer li a
{
	color:#000000;
	text-decoration:none;
	display:inline-block;